.table-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-table {
  overflow: auto;
  max-height: 75vh;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.h4 {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.insert-location {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.email-filter {
  margin: 10px;
  font-size: small;
  flex-basis: 75%;
}

.mat-column-select {
  overflow: visible;
}

mat-cell {
    padding: 10px;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}

.card-title {
  flex: 5;
}

.context-menu {
  margin-left: 10%;
  float: right;
}

.item-selected {
  background-color: rgba(170, 202, 204, 0.3);
  color: #6C88B7;
  font-size: small;
}

.item-selected p {
  margin: 10px;
}