<div class="col s12">
    <mat-form-field class="email-filter">
        <input matInput (keydown)="applyFilter($event.target.value)" placeholder="Search" id="email-filter">
    </mat-form-field>
</div>
<mat-card>
    <mat-card-title>
        <div class="card-title">
            <p>
                Events
            </p>
        </div>
        <div class="context-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="refreshData()">
                    <mat-icon>refresh</mat-icon>
                    <span>Refresh Data</span>
                </button>
                <button mat-menu-item (click)="addEvent()">
                    <mat-icon>add</mat-icon>
                    <span>Add Event</span>
                </button>
            </mat-menu>
        </div>
    </mat-card-title>
    <mat-card-content>
        <mat-table #table [dataSource]="dataSource" matSort>

            <!-- Action Button Column-->
                <ng-container matColumnDef="button">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
                        <mat-cell *matCellDef="let event">
                            <div class="action-menu">
                                <button mat-icon-button [matMenuTriggerFor]="crud_menu">
                                    <mat-icon>settings</mat-icon>
                                </button>
                                <mat-menu #crud_menu="matMenu">
                                    <button mat-menu-item (click)="updateEvent(event)">
                                        <mat-icon>edit</mat-icon>
                                        <span>Update Event</span>
                                    </button>
                                    <button mat-menu-item (click)="removeEvent(event.uid)">
                                        <mat-icon>delete</mat-icon>
                                        <span>Remove Event</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </mat-cell>
                    </ng-container>

            <!-- Location Name Column -->
            <ng-container matColumnDef="location_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Location Name</mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.location_name}}</mat-cell>
            </ng-container>

            <!-- Event start time Column -->
            <ng-container matColumnDef="event_start_time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Event Start Time</mat-header-cell>
                <mat-cell *matCellDef="let event"> {{getTimeString(event.event_start_time)}}</mat-cell>
            </ng-container>

            <!-- Event end time Column -->
            <ng-container matColumnDef="event_end_time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Event End Time</mat-header-cell>
                <mat-cell *matCellDef="let event"> {{getTimeString(event.event_end_time)}}</mat-cell>
            </ng-container>

            <!-- Event title Column -->
            <ng-container matColumnDef="event_title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Event Title</mat-header-cell>
                <mat-cell *matCellDef="let event"> {{event.event_title}}</mat-cell>
            </ng-container>

            <!-- Event description Column -->
            <ng-container matColumnDef="event_description">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Event Description</mat-header-cell>
                <mat-cell *matCellDef="let event"> {{event.event_description}}</mat-cell>
            </ng-container>

            <!-- Event type Column -->
            <ng-container matColumnDef="event_type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Event Type</mat-header-cell>
                <mat-cell *matCellDef="let event"> {{event.event_type}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[50,100,500]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
    </mat-card-content>
</mat-card>
