.table-container {
    overflow: auto;
}

.table-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.events-filter {
    margin: 10px;
    font-size: small;
    flex-basis: 60%;
  }

table {
    width: 100%;
}
.mat-cell {
    padding: 5px;
}

.mat-column-event_title {
    min-width: 400px;
}

.mat-column-location_name {
    min-width: 100px;
}

.mat-column-event_start_time, .mat-column-event_end_time {
    min-width: 150px;
}

.mat-column-event_type {
    min-width: 100px;
}

.mat-column-event_uid {
    min-width: 275px;
}

.mat-column-action_button {
    min-width: 75px;
}

.mat-card-title {
    display: flex;
}

.card-title {
    flex: 0 0 150px;
}

.context-menu {
    float: right;
}

.item-selected {
    background-color: rgba(170, 202, 204, 0.3);
    color: #6C88B7;
    font-size: small;
}

.item-selected p {
    margin: 10px;
}