<div class = "container">

	<!-- Users Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../userdata">
					<div class="with-icon">
				  		<mat-icon>people</mat-icon><h4>Users</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Admin Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../admin">
					<div class="with-icon">
				  		<mat-icon>edit</mat-icon><h4>Admin</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Finance Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<div class="with-icon">
			  		<mat-icon>money</mat-icon><h4>Finance</h4>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Analytics Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<div class="with-icon">
			  		<mat-icon>poll</mat-icon><h4>Analytics</h4>
				</div>
			</mat-card-content>
		</mat-card>
	</div>

		<!-- Item Checkout Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<div class="with-icon">
			  		<mat-icon>weekend</mat-icon><h4>Item Checkout</h4>
				</div>
			</mat-card-content>
		</mat-card>
	</div>


	<!-- Settings Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<div class="with-icon">
			  		<mat-icon>settings</mat-icon><h4>Settings</h4>
				</div>
			</mat-card-content>
		</mat-card>
	</div>


	<!-- Help Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<div class="with-icon">
			  		<mat-icon>help</mat-icon><h4>Help</h4>
				</div>
			</mat-card-content>
		</mat-card>
	</div>
</div>