<div class = "container">

	<!-- Users Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../userdata">
					<div class="with-icon">
				  		<mat-icon>people</mat-icon><h4>Users</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Admin Card -->
	<!-- div class = "card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../admin">
					<div class="with-icon">
				  		<mat-icon>edit</mat-icon><h4>Admin</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div> -->


	<!-- Events Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../events">
					<div class="with-icon">
				  		<mat-icon>event</mat-icon><h4>Events</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Locations Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../locations">
					<div class="with-icon">
				  		<mat-icon>location_on</mat-icon><h4>Locations</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Item Checkout Card -->
	<div class = "card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../checkout">
					<div class="with-icon">
				  		<mat-icon>weekend</mat-icon><h4>Item Checkout</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!--&lt;!&ndash; Finance Card &ndash;&gt;-->
	<!--<div class = "card-container">-->
		<!--<mat-card>-->
			<!--<mat-card-content>-->
				<!--<div class="with-icon">-->
			  		<!--<mat-icon>money</mat-icon><h4>Finance</h4>-->
				<!--</div>-->
			<!--</mat-card-content>-->
		<!--</mat-card>-->
	<!--</div>-->

	<!--&lt;!&ndash; Analytics Card &ndash;&gt;-->
	<!--<div class = "card-container">-->
		<!--<mat-card>-->
			<!--<mat-card-content>-->
				<!--<a routerLink="../stats">-->
					<!--<div class="with-icon">-->
				  		<!--<mat-icon>poll</mat-icon><h4>Analytics</h4>-->
					<!--</div>-->
				<!--</a>-->
			<!--</mat-card-content>-->
		<!--</mat-card>-->
	<!--</div>-->

		<!--&lt;!&ndash; Item Checkout Card &ndash;&gt;-->
	<!--<div class = "card-container">-->
		<!--<mat-card>-->
			<!--<mat-card-content>-->
				<!--<div class="with-icon">-->
			  		<!--<mat-icon>weekend</mat-icon><h4>Item Checkout</h4>-->
				<!--</div>-->
			<!--</mat-card-content>-->
		<!--</mat-card>-->
	<!--</div>-->


	<!--&lt;!&ndash; Settings Card &ndash;&gt;-->
	<!--<div class = "card-container">-->
		<!--<mat-card>-->
			<!--<mat-card-content>-->
				<!--<div class="with-icon">-->
			  		<!--<mat-icon>settings</mat-icon><h4>Settings</h4>-->
				<!--</div>-->
			<!--</mat-card-content>-->
		<!--</mat-card>-->
	<!--</div>-->


	<!--&lt;!&ndash; Help Card &ndash;&gt;-->
	<!--<div class = "card-container">-->
		<!--<mat-card>-->
			<!--<mat-card-content>-->
				<!--<div class="with-icon">-->
			  		<!--<mat-icon>help</mat-icon><h4>Help</h4>-->
				<!--</div>-->
			<!--</mat-card-content>-->
		<!--</mat-card>-->
	<!--</div>-->
</div>
