<div class="main-container">
	<!-- Users Card -->
	<div class="card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../hackerdata">
					<div class="with-icon">
				  		<mat-icon>people</mat-icon><h4>Hackers</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Events Card -->
	<div class="card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../events">
					<div class="with-icon">
				  		<mat-icon>event</mat-icon><h4>Events</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Locations Card -->
	<div class="card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../locations">
					<div class="with-icon">
				  		<mat-icon>location_on</mat-icon><h4>Locations</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Item Checkout Card -->
	<div class="card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../checkout">
					<div class="with-icon">
				  		<mat-icon>weekend</mat-icon><h4>Item Checkout</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>

	<!-- Extra Credit Card -->
	<div class="card-container">
		<mat-card>
			<mat-card-content>
				<a routerLink="../classes">
					<div class="with-icon">
				  		<mat-icon>class</mat-icon><h4>Extra Credit</h4>
					</div>
				</a>
			</mat-card-content>
		</mat-card>
	</div>
</div>
