/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.card-container {
		margin: 10px;
	}

	mat-card {
		width: 100%;
	}
	mat-icon {
		margin-right: 5px;
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: #6C88B7;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.card-container {
		margin: 10px;
		flex-basis: 30%;
	}

	mat-card {
		width: 100%;
	}
	mat-icon {
		margin-right: 5px;
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: #6C88B7;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.card-container {
		margin: 10px;
		flex-basis: 30%;
	}

	mat-card {
		width: 100%;
	}
	mat-icon {
		margin-right: 5px;
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: #6C88B7;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.card-container {
		margin: 10px;
		flex-basis: 30%;
	}

	mat-card {
		width: 100%;
	}
	mat-icon {
		margin-right: 5px;
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: #6C88B7;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.card-container {
		margin: 10px;
		flex-basis: 30%;
	}

	mat-card {
		width: 100%;
	}
	mat-icon {
		margin-right: 5px;
	}

	.with-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		text-decoration: none;
		color: black;
	}

	a:hover {
		color: #6C88B7;
	}
}