.main-container {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.section-title-letter {
    display: inline-block;
    font-size: 2.5em;
}

.section-title-word {
    display: inline-block;
    white-space: nowrap;
    padding-right: 1.5%;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.latest-container {
  margin: 10px;
}

.table-container {
  margin: 10px;
}

.table-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-container mat-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.stat-container {
  margin: 10px !important;
  height: 100px;
  width: 200px;
}

.stat-container h3 {
  text-align: center;
}

mat-header-cell.master-select, mat-cell.select-box {
  max-width: 100px;
}

.card-title {
  font-size: large;
  flex-basis: 25%;
}

.card-title p {
  margin-top: 10px;
  margin-bottom: 10px;
  flex-basis: 25%;
}

.item-selected {
  background-color: rgba(170, 202, 204, 0.3);
  color: #6C88B7;
  font-size: large;
}

.item-selected p {
    margin: 10px;
}

mat-icon.check-circle-green {
  color: green;
}

.check-in-button{
  width: 24px;
}

.check-in-button:hover{
  color: green;
}

.email-filter {
  margin: 10px;
  font-size: small;
  flex-basis: 50%;
}

.title-button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
}

mat-cell a {
  text-decoration: none;
  color: black;
}

mat-cell a:hover {
  color: #6C88B7;
}

.change-hackathon-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

@font-face {
  font-family: 'Cornerstone';
  src: url('/assets/fonts/Cornerstone.ttf');
}
.header-text {
  font-family: 'Cornerstone';
  font-size: 3.5em;
  line-height: 100%;
  margin-top: 25px;
}

.text-center {
  align-self: center;
  margin: 0 auto;
  width: 50%;
}