<div *ngIf="actionName === 'Update'">
	<h1 mat-dialog-title>{{actionName}} Location</h1>
	<div mat-dialog-content>
		<p>Current Location Name: {{currentLocationName}}</p>
		<br>
	    <p>Enter New Location Name</p>
		<mat-form-field class="update-location" class="col-sm-6 col-sm-offset-3">
		    <input matInput #updateLocation placeholder="Location Name" id="update-location">
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-button mat-dialog-close>No Thanks</button>
		<button mat-button [mat-dialog-close]="'Update' + updateLocation.value"> Update Location </button>
	</div>
</div>

<div *ngIf="actionName === 'Remove'">
	<h1 mat-dialog-title>{{actionName}} Location</h1>
	<div mat-dialog-content>
		<p> You are about to remove {{currentLocationName}}.</p>
		<p>This cannot be undone. Are you sure? </p>
	</div>
	<div mat-dialog-actions>
		<button mat-button mat-dialog-close>No Thanks</button>
		<button mat-button [mat-dialog-close]="'Remove' + currentLocationName"> Yes, Remove Location </button>
	</div>
</div>

<div *ngIf="actionName === 'Add'">
	<h1 mat-dialog-title>{{actionName}} Location</h1>
	<div mat-dialog-content>
	    <p>Enter New Location Name</p>
		<mat-form-field class="update-location" class="col-sm-6 col-sm-offset-3">
		    <input matInput #addLocation placeholder="Location Name" id="update-location">
		</mat-form-field>
	</div>
	<div mat-dialog-actions>
		<button mat-button mat-dialog-close>No Thanks</button>
		<button mat-button [mat-dialog-close]="'Add' + addLocation.value"> Add Location </button>
	</div>
</div>
