<div class = "container">
    <div class = "title-container">
        <div class="section-title-word">
            <div class="section-title-letter white-text">A</div>
            <div class="section-title-letter white-text">D</div>
            <div class="section-title-letter white-text">M</div>
            <div class="section-title-letter white-text">I</div>
            <div class="section-title-letter white-text">N</div>
        </div>
    </div>

    <div class = "body-container">
        <div *ngIf="errors" class="alert alert-danger">
            {{ errors.message }}
        </div>
        <div class = "live-update-container">
            <mat-card>
                <mat-card-title>
                    <b>Live Update - Under Construction</b>
                </mat-card-title>
                <!--<mat-card-content>-->
                    <!--<form class="registration-form container-fluid"-->
                          <!--(ngSubmit)="registrationModel.form.valid ? sendMessage() : error = registrationModel.form.errors"-->
                          <!--name="registrationFormDOM"-->
                          <!--#registrationModel="ngForm">-->
                        <!--<mat-form-field class="example-full-width row">-->
                            <!--<input matInput-->
                                   <!--type="text"-->
                                   <!--name="major"-->
                                   <!--[(ngModel)]="title"-->
                                   <!--#messageInput="ngModel"-->
                                   <!--id="autocomplete-input-title"-->
                                   <!--required-->
                                   <!--placeholder="Enter live update title"-->
                                   <!--class="validate required"-->
                            <!--&gt;-->
                        <!--</mat-form-field>-->
                        <!--<div class="row">-->
                            <!--<mat-form-field class="example-full-width">-->
                                <!--<input matInput-->
                                       <!--type="text"-->
                                       <!--name="major"-->
                                       <!--[(ngModel)]="message"-->
                                       <!--#messageInput="ngModel"-->
                                       <!--id="autocomplete-input-major"-->
                                       <!--required-->
                                       <!--placeholder="Enter live update"-->
                                       <!--class="validate required"-->
                                <!--&gt;-->
                            <!--</mat-form-field>-->
                            <!--<label class="data-error" *ngIf="!messageInput.valid">Required</label><br>-->
                        <!--</div>-->
                        <!--<mat-checkbox class="row" type="checkbox" [(ngModel)]="push_notification" name="push_notification">Send as a push-->
                            <!--notification?-->
                        <!--</mat-checkbox>-->
                        <!--<button mat-button type="submit" *ngIf="registrationModel.form.valid">Submit</button>-->
                    <!--</form>-->
                <!--</mat-card-content>-->
            </mat-card>
        </div>
        <div class = "table-container">
            <mat-card>
                <mat-card-title>
                    <b> Events and Locations </b>
                </mat-card-title>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="Locations">
                            <mat-card>
                                <div class="location-container">
                                    <div class ="location-title-container">
                                        <h3> Locations </h3>

                                        <mat-form-field class="email-filter">
                                            <input matInput (keydown)="applyFilter($event.target.value)" placeholder="Search" id="email-filter">
                                        </mat-form-field>

                                        <div class = "with-icon">
                                            <p>Add Locations</p>
                                            <button mat-icon-button (click)="openLocationEditDialog('Add', '', '')">
                                                <mat-icon>
                                                    add
                                                </mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="location-table-container">
                                        <mat-table #table [dataSource]="dataSource" matSort>

                                             <!-- Location Name Column -->
                                            <ng-container matColumnDef="location_name">
                                                <mat-header-cell *matHeaderCellDef class="name-column"> Location Name</mat-header-cell>
                                                <mat-cell *matCellDef="let location" class="name-column">
                                                    {{location.location_name}}
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Location UID Column -->
                                            <ng-container matColumnDef="uid">
                                                <mat-header-cell *matHeaderCellDef class="id-column"> Location UID</mat-header-cell>
                                                <mat-cell *matCellDef="let location" class="id-column"> {{location.uid}}</mat-cell>
                                            </ng-container>


                                            <!-- Action Update Column -->
                                            <ng-container matColumnDef="action_update" class>
                                                <mat-header-cell *matHeaderCellDef class="action-button">
                                                    Update
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let location" class="action-button">
                                                    <button mat-icon-button (click)="openLocationEditDialog('Update', location.location_name, location.uid)">
                                                        <mat-icon>
                                                            create
                                                        </mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>

                                             <!-- Action Delete Column -->
                                            <ng-container matColumnDef="action_remove">
                                                <mat-header-cell *matHeaderCellDef class="action-button">
                                                    Remove
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let location" class="action-button">
                                                    <button mat-icon-button (click)="openLocationEditDialog('Remove', location.location_name, location.uid)">
                                                        <mat-icon>
                                                            delete
                                                        </mat-icon>
                                                    </button>
                                                </mat-cell>
                                            </ng-container>

                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </mat-table>
                                        <mat-paginator #paginator
                                                       [pageSize]="10"
                                                       [pageSizeOptions]="[50,100,500]"
                                                       [showFirstLastButtons]="true">
                                        </mat-paginator>
                                    </div>
                                </div>
                            </mat-card>
                        </mat-tab>
                        <mat-tab label="Events">
                                Under Construction.
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
