.container {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.section-title-letter {
  display: inline-block;
  font-size: 2.5em;
}

.section-title-word {
  display: inline-block;
  white-space: nowrap;
  padding-right: 1.5%;
}

.body-container {
  display: flex;
  flex-direction: column;
}

.live-update-container {
  margin: 10px;
}

.table-container {
  margin: 10px;
}

.location-container {
  display: flex;
  flex-direction: column;
}

mat-header-cell.action-button, mat-cell.action-button {
  max-width: 75px;
}

.id-column {
  max-width: 100px;
}

.mat-form-field {
  display: block;
}

.row {
  padding: 10px;
}

.location-container {
  display: flex;
  flex-flow: column;
}

.location-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.with-icon {
    display: flex;
    align-items: center;
}

.with-icon p {
  margin: 0;
  padding: 0;
}