<svg width="960" height="500"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="../../../node_modules/chart.js/src/chart.js"></script>
<linechart data="chart.data" options="chart.options"></linechart>
<ngx-charts-line-chart
        *ngIf="chartType === 'line-chart'"
        [view]="view"
        class="chart-container"
        [scheme]="colorScheme"
        [schemeType]="schemeType"
        [results]="dateDataWithOrWithoutRange"
        [animations]="animations"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        (legendLabelClick)="onLegendLabelClick($event)"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [xScaleMin]="xScaleMin"
        [xScaleMax]="xScaleMax"
        [yScaleMin]="yScaleMin"
        [yScaleMax]="yScaleMax"
        [timeline]="timeline"
        [showGridLines]="showGridLines"
        [curve]="curve"
        [rangeFillOpacity]="rangeFillOpacity"
        [roundDomains]="roundDomains"
        [tooltipDisabled]="tooltipDisabled"
        (select)="select($event)">
</ngx-charts-line-chart>

<script>



</script>
