<div style="position: absolute; top: 50px; left: 50px; right: 50px; bottom: 50px;">
    <mat-form-field >
        <mat-select [(value)]="selected" placeholder="What do you want to see" (change)="onOptionChange($event)">
            <mat-option value="referral"> Referral Source</mat-option>
            <mat-option value="gender"> Gender</mat-option>
            <mat-option value="experience"> Coding Experience</mat-option>
            <mat-option value="academic_year">Academic Year</mat-option>
        </mat-select>
    </mat-form-field>
    <ngx-charts-line-chart
            *ngIf="multi.length> 0"
            [view]="view"
            [scheme]="colorScheme"
            [results]="multi"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [autoScale]="autoScale"
            [timeline]="timeline"
            (select)="onSelect($event)">
    </ngx-charts-line-chart>
    <ngx-charts-pie-chart
            *ngIf="this.multi.length >0"
            [view]="[600, 300]"
            [scheme]="colorScheme"
            [results]="single"
            [legend]="option"
            [explodeSlices]="false"
            [labels]="showLabels"
            [doughnut]="false"
            [gradient]="false"
            (select)="onSelect($event)">
    </ngx-charts-pie-chart>
    <ngx-charts-number-card
            ng-if="selected == 'coding_experience' || selected == 'academic_year'"
            [view]="[600,300]"
            [scheme]="colorScheme"
            [results]="single"
            (select)="onSelect($event)">
    </ngx-charts-number-card>

</div>
