<h3> Event Check-In </h3>
<mat-card>
	<mat-table #table [dataSource]="dataSource" matSort>
		<!-- Last Name Column -->
	    <ng-container matColumnDef="eventname">
	        <mat-header-cell *matHeaderCellDef> Event Name</mat-header-cell>
	        <mat-cell *matCellDef="let event"> {{event.event_name}}</mat-cell>
	    </ng-container>
	    <!-- Last Name Column -->
	    <ng-container matColumnDef="eventcount">
	        <mat-header-cell *matHeaderCellDef>Scanned Count</mat-header-cell>
	        <mat-cell *matCellDef="let event"> {{event.event_count}}</mat-cell>
	    </ng-container>
		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</mat-card>