<div class="col s12">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Email">
	</mat-form-field>
	<ul class="tabs">
		<li class="tab col s3" (click)="onPreRegistrationClick()"><a class="active" href="/users/#Pre-Registered">Pre-Registrations</a></li>
		<li class="tab col s3" (click)="onRegistrationClick()"><a href="/users/#Registered">Registrations</a></li>
	</ul>
</div>

<div class="example-container mat-elevation-z8">
	<div class="example-header">
	    
  	</div>
</div>
<mat-table #table [dataSource]="dataSource">
		<!-- UID Column -->
		<ng-container matColumnDef="uid">
			<mat-header-cell *matHeaderCellDef> UID. </mat-header-cell>
			<mat-cell *matCellDef="let user"> {{user.uid}} </mat-cell>
		</ng-container>

		<!-- Email Column -->
		<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
			<mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator
             [pageSize]="10"
             [pageSizeOptions]="[5, 10, 20]"
             [showFirstLastButtons]="true">
</mat-paginator>