@import "https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700";

/* Application-wide Styles */
h1 {
    color: #fff;
}

h2, h3 {
    color: #444;
    font-family: Lato, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
    font-family: Lato, Georgia, sans-serif;
}

p {
    color: #888;
    font-family: Lato, Georgia, sans-serif;
}

.header {
    border-bottom: #333333 solid 1px;
}

.example-app-name {
    line-height: 56px;
    margin-left: 10px;
}

.mat-drawer-content {
    overflow: initial;
}

.mat-sidenav-container {
    height: 100vh;
}

@media screen and (max-width: 768px) {
    .example-app-name {
        display: none;
    }
}
