<mat-nav-list>
    <mat-accordion *ngIf="afAuth.authState | async as user; else home">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Manage Registrations
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/registrations">Registration Data</a>
            <a mat-list-item routerLink="/preregistrations">Pre-Registration Data</a>
            <a mat-list-item routerLink="/users">Manage Users</a>
            <a mat-list-item routerLink="/rsvp">RSVP Data</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Manage Event
                </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item routerLink="/live">Live Updates</a>
            <a mat-list-item routerLink="/events">Manage Events</a>
            <a mat-list-item routerLink="/locations">Manage Locations</a>
        </mat-expansion-panel>
    </mat-accordion>
</mat-nav-list>
<ng-template #home>
    <a mat-list-item routerLink="">Home</a>
</ng-template>