<nav id="sidebar">
    <!-- Sidebar Header -->
    <div class="sidebar-header">
        <div class="logo item">
            <a href="https://hackpsu.org">
                <img src="../../assets/images/logo.svg" class="hoverable">
            </a>
        </div>
    </div>

    <!-- Sidebar Links -->
    <div *ngIf="afAuth.authState | async as user; else home">
        <ul class="row">
            <li class="col-sm-12"><a routerLink="/registrations">Registration Data</a></li>
            <li class="col-sm-12"><a routerLink="/preregistrations">Pre-Registration Data</a></li>
            <li class="col-sm-12"><a routerLink="/users">Manage Users</a></li>
        </ul>
        <!--<div class="item">-->
        <!--Dashboard-->
        <!--</div>-->

        <!--<div>-->

        <!--<div-->
        <!--class="item">-->
        <!--Application-->
        <!--</div>-->

        <!--<div-->
        <!--ui-sref-active="active"-->
        <!--ui-sref="app.confirmation"-->
        <!--class="item">-->
        <!--Confirmation-->
        <!--</div>-->

        <!--<div-->
        <!--ui-sref-active="active"-->
        <!--ui-sref="app.team"-->
        <!--class="item">-->
        <!--Team-->
        <!--</div>-->

        <!--<div-->
        <!--ui-sref-active="active"-->
        <!--ui-sref="app.admin.stats"-->
        <!--class="item">-->
        <!--Admin-->
        <!--</div>-->

        <!--</div>-->

        <!--<div class="item"-->
        <!--(click)="logout()">-->
        <!--Logout-->
        <!--</div>-->

        <!--<div class="note">-->
        <!--</div>-->
        <!--</nav>-->
        <!--</div>-->

        <!--<div class="tab">-->
        <!--<div class="logo">-->
        <!--<img src="../assets/images/logo.svg">-->
        <!--</div>-->
        <!--<span class="close" [hidden]="showSidebar"></span>-->
        <!--</div>-->
    </div>
</nav>
<ng-template #home>
    <ul class="row">
        <li class="col-sm-12"><a routerLink="">Home</a></li>
    </ul>
</ng-template>