<nav id="sidebar">
  <!-- Sidebar Header -->
  <div class="sidebar-header">
    <div class="logo item">
      <img src="../assets/images/logo.svg">
    </div>
    <div class="username">
      <!--<username />-->
    </div>
  </div>

  <!-- Sidebar Links -->
  <ul class="row">
    <li class="col-sm-12"><a routerLink="">Home</a></li>
    <li class="col-sm-12"><a routerLink="login">Login</a></li>
  </ul>
  <!--<div class="item">-->
  <!--Dashboard-->
  <!--</div>-->

  <!--<div>-->

  <!--<div-->
  <!--class="item">-->
  <!--Application-->
  <!--</div>-->

  <!--<div-->
  <!--ui-sref-active="active"-->
  <!--ui-sref="app.confirmation"-->
  <!--class="item">-->
  <!--Confirmation-->
  <!--</div>-->

  <!--<div-->
  <!--ui-sref-active="active"-->
  <!--ui-sref="app.team"-->
  <!--class="item">-->
  <!--Team-->
  <!--</div>-->

  <!--<div-->
  <!--ui-sref-active="active"-->
  <!--ui-sref="app.admin.stats"-->
  <!--class="item">-->
  <!--Admin-->
  <!--</div>-->

  <!--</div>-->

  <!--<div class="item"-->
  <!--(click)="logout()">-->
  <!--Logout-->
  <!--</div>-->

  <!--<div class="note">-->
  <!--</div>-->
  <!--</nav>-->
  <!--</div>-->

  <!--<div class="tab">-->
  <!--<div class="logo">-->
  <!--<img src="../assets/images/logo.svg">-->
  <!--</div>-->
  <!--<span class="close" [hidden]="showSidebar"></span>-->
  <!--</div>-->
</nav>