<meta name="viewport" content="width=device-width, initial-scale=1">

<div class = "container">
    <div class = "title-container">
        <div class="section-title-word">
            <div class="section-title-letter white-text">U</div>
            <div class="section-title-letter white-text">S</div>
            <div class="section-title-letter white-text">E</div>
            <div class="section-title-letter white-text">R</div>
        </div>
        <div class="section-title-word">
            <div class="section-title-letter white-text">D</div>
            <div class="section-title-letter white-text">A</div>
            <div class="section-title-letter white-text">T</div>
            <div class="section-title-letter white-text">A</div>
        </div>
    </div>
    <div class = "body-container">
            <div *ngIf="errors" class="alert alert-danger">
                {{ errors.message }}
            </div>
        <div class = "latest-container">
            <mat-card>
                <mat-card-title>
                    <b>Latest Stats</b>
                </mat-card-title>
                <mat-card-content>
                    <div class = "stat-container">
                        <h3> {{preRegStatNumber}} </h3>
                        <h3> Pre-Registrations </h3>
                    </div>
                    <div class = "stat-container">
                        <h3> {{regStatNumber}} </h3>
                        <h3> Registrations </h3>
                    </div>
                    <div class = "stat-container">
                        <h3> {{rsvpStatNumber}} </h3>
                        <h3> RSVP </h3>
                    </div>
                    <div class = "stat-container">
                        <h3> {{checkInStatNumber}} </h3>
                        <h3> Check-In </h3>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class = "table-container">
            <mat-card>
                <mat-card-title>
                    <b>Users</b>
                    <div class = "table-title-container">
                        <div *ngIf="selection.isEmpty(); else showSelection" class="card-title">
                            <p> Registration Data </p>
                        </div>
                        <ng-template #showSelection>
                            <div class="item-selected card-title">
                                <p>
                                {{selection.selected.length === 1 ? selection.selected.length + " row selected" :
                                selection.selected.length + " rows selected"}}
                                </p>
                            </div>
                        </ng-template>
                        <mat-form-field class="email-filter">
                            <input matInput (keydown)="applyFilter($event.target.value)" placeholder="Search" id="email-filter">
                        </mat-form-field>
                        <div class = "title-button-group">
                            <div class="context-menu">
                                <button mat-icon-button [matMenuTriggerFor]="menu" class = "menu-icon">
                                    <mat-icon>settings</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item>
                                        <mat-icon>build</mat-icon>
                                        <span>Settings</span>
                                    </button>
                                    <button mat-menu-item (click)="refreshData()">
                                        <mat-icon>refresh</mat-icon>
                                        <span>Refresh Data</span>
                                    </button>
                                    <button mat-menu-item *ngIf="!selection.isEmpty()" (click)="sendEmail()">
                                        <mat-icon>email</mat-icon>
                                        <span>Send email</span>
                                    </button>
                                </mat-menu>
                            </div>
                        </div>
                    </div>
                </mat-card-title>
                <mat-card-content>

                    <mat-table #table [dataSource]="dataSource" matSort>
                        <!-- Select Column -->
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef class="master-select">
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                              [checked]="selection.hasValue() && isAllSelected()"
                                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="select-box">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? selection.toggle(row) : null"
                                              [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                         <!-- First Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef> First Name</mat-header-cell>
                            <mat-cell *matCellDef="let user"> 
                                <a (click)='viewAdditionalUserData(user)'>{{user.firstname}} {{user.lastname}}</a>
                            </mat-cell>
                        </ng-container>

                        <!-- Last Name Column -->
                        <ng-container matColumnDef="lastname">
                            <mat-header-cell *matHeaderCellDef> Last Name</mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.lastname}}</mat-cell>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <mat-header-cell *matHeaderCellDef> Email</mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.email}}</mat-cell>
                        </ng-container>

                        <!-- University Column -->
                        <ng-container matColumnDef="university">
                            <mat-header-cell *matHeaderCellDef> University</mat-header-cell>
                            <mat-cell *matCellDef="let user"> {{user.university}}</mat-cell>
                        </ng-container>

                        <!-- Academic Year Column -->
                        <ng-container matColumnDef="academic_year">
                            <mat-header-cell *matHeaderCellDef class = "academic-year"> Academic Year</mat-header-cell>
                            <mat-cell *matCellDef="let user" class = "academic-year"> {{user.academic_year}}</mat-cell>
                        </ng-container>

                        <!--  Pin Number Column -->
                        <ng-container matColumnDef="pin">
                            <mat-header-cell *matHeaderCellDef class = "pin-number"> Pin Number</mat-header-cell>
                            <mat-cell *matCellDef="let user" class = "pin-number"> {{convertFromBaseToBase(user.pin, 10, 14)}}</mat-cell>
                        </ng-container>

                        <!-- Icon Display Column -->
                        <ng-container matColumnDef="display">
                            <mat-header-cell *matHeaderCellDef class = "display"> Pre/Reg/RSVP/CheckIn </mat-header-cell>
                            <mat-cell *matCellDef="let user" class = "display-cell">

                                <!-- Pre-Registered -->
                                <ng-template [ngIf]="isPreRegistered(user)" [ngIfElse] = "preRegisterEmpty">
                                    <mat-icon class="check-circle-green">check_circle</mat-icon>
                                </ng-template>
                                <ng-template #preRegisterEmpty>
                                    <mat-icon>panorama_fish_eye</mat-icon>
                                </ng-template>

                                <!-- Registered -->
                                <ng-template [ngIf]="isRegistered(user)" [ngIfElse] = "registerEmpty">
                                    <mat-icon class="check-circle-green">check_circle</mat-icon>
                                </ng-template>
                                <ng-template #registerEmpty>
                                    <mat-icon>panorama_fish_eye</mat-icon>
                                </ng-template>

                                <!-- RSVP -->
                                <ng-template [ngIf]="isRSVP(user)" [ngIfElse] = "rsvpEmpty">
                                    <mat-icon class="check-circle-green">check_circle</mat-icon>
                                </ng-template>
                                <ng-template #rsvpEmpty>
                                    <mat-icon>panorama_fish_eye</mat-icon>
                                </ng-template>

                                <!-- Check-In -->
                                <ng-template [ngIf]="isCheckedIn(user)" [ngIfElse] = "checkinEmpty">
                                    <mat-icon class="check-circle-green">check_circle</mat-icon>
                                </ng-template>
                                <ng-template #checkinEmpty>
                                    <mat-icon>panorama_fish_eye</mat-icon>
                                </ng-template>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator
                                   [pageSize]="10"
                                   [pageSizeOptions]="[50,100,500]"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>