<mat-card>
	<mat-card-title>
		<div class = 'title-container'>
			<p>{{user_data.firstname}} {{user_data.lastname}}</p>
			<mat-slide-toggle color="accent" (change)="onChange($event)" [disabled]="editToggleDisable">Edit</mat-slide-toggle>
		</div>
		<button mat-stroked-button color="primary" (click)="onSubmitButtonClick()">Submit Registration Changes</button>
	</mat-card-title>
	<mat-card-content>
		<table>
		  <tr>
		    <th>User Property</th>
		    <th>User Response</th>
		  </tr>
		  <tr>
				<td>First Name</td>
		    <td>
					<ng-container *ngIf="toggleState; else second"></ng-container>
					<ng-template #second>
							<ng-template [ngIf]="user_data.firstname" [ngIfElse]="NA">
									<div>
										{{user_data.firstname}}
									</div>
							</ng-template>
							<ng-template #NA>
									<div>
										N/A
									</div>
								</ng-template>
					</ng-template>
					<ng-template [ngIf]="toggleState" >
							<mat-form-field color="primary" appearance="outline">
									<input matInput [(ngModel)]="hacker.firstname" placeholder={{user_data.firstname}}>
							</mat-form-field>
					</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Last Name</td>
		    <td>
		    	<ng-template [ngIf]="user_data.lastname" [ngIfElse]="NA">
					<div>
						{{user_data.lastname}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Email</td>
		    <td>
		    	<ng-template [ngIf]="user_data.email" [ngIfElse]="NA">
					<div>
						{{user_data.email}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Gender</td>
		    <td>
		    	<ng-template [ngIf]="user_data.gender" [ngIfElse]="NA">
					<div>
						{{capitalizeFirstLetter(user_data.gender)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Univeristy</td>
		    <td>
		    	<ng-template [ngIf]="user_data.university" [ngIfElse]="NA">
					<div>
						{{user_data.university}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Academic Year</td>
		    <td>
		    	<ng-template [ngIf]="user_data.academic_year" [ngIfElse]="NA">
					<div>
						{{capitalizeFirstLetter(user_data.academic_year)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		   <tr>
		    <td>Major</td>
		    <td>
		    	<ng-template [ngIf]="user_data.major" [ngIfElse]="NA">
					<div>
						{{user_data.major}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Shirt Size</td>
		    <td>
		    	<ng-template [ngIf]="user_data.shirt_size" [ngIfElse]="NA">
					<div>
						{{getSizeText(user_data.shirt_size)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Dietary Restriction</td>
		    <td>
		    	<ng-template [ngIf]="user_data.dietary_restriction" [ngIfElse]="NA">
					<div>
						{{capitalizeFirstLetter(user_data.dietary_restriction)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>

		  </tr>
		  <tr>
		    <td>Allergies</td>
		    <td>
		    	<ng-template [ngIf]="user_data.allergies" [ngIfElse]="NA">
					<div>
						{{user_data.allergies}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Travel reimbursement</td>
		    <td>
		    	<ng-template [ngIf]="user_data.travel_reimbursement" [ngIfElse]="NA">
					<div>
						{{numberToBoolean(user_data.travel_reimbursement)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>First Hackathon</td>
		    <td>
		    	<ng-template [ngIf]="user_data.firstHackathon" [ngIfElse]="NA">
					<div>
						{{user_data.firstHackathon}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Phone Number</td>
		    <td>
		    	<ng-template [ngIf]="user_data.phone" [ngIfElse]="NA">
					<div>
						{{formatPhoneNumber(user_data.phone)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Race</td>
		    <td>
		    	<ng-template [ngIf]="user_data.race" [ngIfElse]="NA">
					<div>
						{{capitalizeFirstLetter(user_data.race)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Resume</td>
		    <td>
		    	<ng-template [ngIf]="user_data.resume" [ngIfElse]="NA">
					<a href={{user_data.resume}} *ngIf="user_data.resume" target="_blank">
						<mat-icon color="accent" style="text-decoration: none;">
							file_download
						</mat-icon>
					</a>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
				
		    </td>
		  </tr>
		  <tr>
		    <td>Coding Experience</td>
		    <td>
		    	<ng-template [ngIf]="user_data.coding_experience" [ngIfElse]="NA">
					<div>
						{{capitalizeFirstLetter(user_data.coding_experience)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Eighteen Before Event</td>
		    <td>
		    	<ng-template [ngIf]="user_data.eighteenBeforeEvent" [ngIfElse]="NA">
					<div>
						{{numberToBoolean(user_data.eighteenBeforeEvent)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>MLH Code of Conduct (coc)</td>
		    <td>
		    	<ng-template [ngIf]="user_data.mlh_coc" [ngIfElse]="NA">
					<div>
						{{numberToBoolean(user_data.mlh_coc)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>MLH DCP (dcp)</td>
		    <td>
		    	<ng-template [ngIf]="user_data.mlh_dcp" [ngIfElse]="NA">
					<div>
						{{numberToBoolean(user_data.mlh_dcp)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Referral</td>
		    <td>
		    	<ng-template [ngIf]="user_data.referral" [ngIfElse]="NA">
					<div>
						{{user_data.referral}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Project</td>
		    <td>
		    	<ng-template [ngIf]="user_data.project" [ngIfElse]="NA">
					<div>
						{{user_data.project}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Expectations</td>
		    <td>
		    	<ng-template [ngIf]="user_data.expectations" [ngIfElse]="NA">
					<div>
						{{user_data.expectations}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		  <tr>
		    <td>Veteran</td>
		    <td>
		    	<ng-template [ngIf]="user_data.veteran" [ngIfElse]="NA">
					<div>
						{{numberToBoolean(user_data.veteran)}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		   <tr>
		    <td>Pre-Registration ID</td>
		    <td>
		    	<ng-template [ngIf]="user_data.id" [ngIfElse]="NA">
					<div>
						{{user_data.uid}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		   <tr>
		    <td>Registration UID</td>
		    <td>
		    	<ng-template [ngIf]="user_data.uid" [ngIfElse]="NA">
					<div>
						{{user_data.uid}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		   <tr>
		    <td>RSVP User ID</td>
		    <td>
		    	<ng-template [ngIf]="user_data.user_id" [ngIfElse]="NA">
					<div>
						{{user_data.user_id}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		   <tr>
		    <td>Scan User UID</td>
		    <td>
		    	<ng-template [ngIf]="user_data.user_uid" [ngIfElse]="NA">
					<div>
						{{user_data.user_uid}}
					</div>
				</ng-template>

				<ng-template #NA>
					<div>
						N/A
					</div>
				</ng-template>
		    </td>
		  </tr>
		</table>
		<p>
	</mat-card-content>
</mat-card>