/* Login form styles */

html {
    height: 100%;
}

@font-face {
    font-family: 'Cornerstone';
    src: url('assets/fonts/Cornerstone.ttf');
}

:host {
    width: 50%;
    margin: 25px auto;
}

.text-center {
    align-self: center;
    margin: 0 auto;
    width: 50%;
}

@media screen and (min-width: 768px) {
    .login-container {
        max-width: 50%;
    }
}

.btn {
    background-color: #aacacc;
    color: #337ab7;
    margin: 10px;
}

.btn span {
    color: #C94331;
}

.btn:hover {
    background-color: #D0EAF1;
}

.login-button {
    margin: 0 auto;
    display: block;
}

body {
    height: 100%;
    background-image: url("assets/images/section-sep-1-mountain.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom center;
  }

.header-text {
    font-family: 'Cornerstone';
    font-size: 4vh;
    line-height: 100%;
    margin-top: 25px;
}
