.profile-view {
    float: right;
}

.profile-image-holder {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.btn {
    background-color: #fff;
    box-shadow: none;
    float: right;
    color: #333333;
}

.btn:hover {
    background-color: #fcfcfc;
}